.login{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}
.login_container{
    place-self: center;
    width:max(23vw, 330px) ;
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap:25px;
    padding:25px 30px;
    border-radius: 8px;
    font-size: 14px;
}
.login_title{
    display:flex;
    justify-content: space-between;
    color: black;
}

.login_title img{
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.login_input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login_input input{
    outline:none;
    border:1px solid #c9c9c9;
    padding: 12px;
    border-radius: 4px;
}

.login_container button{
    border:none;
    padding:12px;
    border-radius: 4px;
    color:white;
    background-color: orangered;
}
.login_condition{
    display: flex;
    align-items: start;
    gap:8px;
    margin-top: -15px;
}
.login_condition input{
    margin-top: 5px;
}
.login p span{
    color: orangered;
    font-weight: 500;
    cursor: pointer;
    
}
span{
    margin-left: 3px;
}